<section>
  <%= render "components/user-card", user: @user  %>
  <div class="bio-wrapper">
    <p><%= @user.bio %></p>
  </div>

  <h2 class="h2-header">Create a New Post</h2>
  <div class="new-post-form-wrapper">
    <%= render "components/post-form", user: @user  %>
  </div>
  
  <h2 class="h2-header">Your Previouse Posts</h2>
  <%if @user.posts.any? %>
    <ul class="posts-wrapper">
      <% User.last_three_posts(@user.id).each do |post| %>
        <li class="post-preview-card">
          <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
            <%= render "components/post-preview-card", post: post %>
          </a>
        </li>
      <% end %>
    </ul>
    <a class='btn' href="/users/<%= @user.id %>/posts">See all posts</a>
  <% else %>
    <h2> This user has no posts </h2>
  <% end %>

</section>
