<section>
  <%= render "components/user-card", user: @user  %>
  <%if @user.posts.any? %>
    <ul class="posts-wrapper">
      <% @user.posts.each do |post| %>
        <li class="post-preview-card">
          <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
            <%= render "components/post-preview-card", post: post %>

            <%if post.comments.any? %>
              <h4>Comments</h4>
              <ul class="comments-wrapper">
                <% Post.last_five_comments(post.id).includes(:user).each do |comment| %>
                  <li>
                    <%= render "components/comment-card", comment: comment %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <h5> This post has no comments </h5>
            <% end %>
  
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h5> This user has no posts </h5>
  <% end %>

</section>
